{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "debug": true
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["transform-runtime"]
}
