header{
    background: $white;
    padding: 30px 32px;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.033);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideUp 300ms linear;
    .container{
        display: flex;
        display: -webkit-flex;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 32px;
    }
}
@keyframes slideUp{
    0% {
        transform: translateY(30px);
        opacity: .5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
// Logo
.brand .logo{
    width: 123px;
}

// Search Box
.search{
    margin-left: 64px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.search-form{
    display: flex;
    display: -webkit-flex;
    .search-category,
    .search-keyword{
        height: 36px;
        border: 1px solid $primary-green;
        padding: 0 16px;
    }
     .search-category{
        border-radius: 2px 0 0 2px;
        background: $primary-green;
        color: $white;
    }
    .search-keyword{
        border-radius: 0 2px 2px 0;
        width: 100%;
    }
}

// Cart
.cart{
    display: flex;
    display: -webkit-flex;
    margin-left: 64px;
    position: relative;
    z-index: 99;
}
.cart-info{
    @media (max-width: 480px){
        display: none;
    }
}
.cart-info table{
    font-size: 14px;
    color: $primary-green;
    text-align: right;
    tr{
        padding: 0;
        margin: 0;
    }
    td{
        padding: 0 4px;
        line-height: 16px;
    }
}
.cart-icon{
    margin-left: 16px;
    z-index: 99;
}
.cart-preview{
    display: none;
    background: $white;
    border: 1px solid $gray-eighty;
    &:before{
        content: "";
        position: absolute;
        display: block;
        top: -9px;
        right: 8px;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $gray-eighty;
        z-index: 1
    }
    &:after{
        content: "";
        position: absolute;
        display: block;
        top: -7px;
        right: 9px;
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $white;
        z-index: 1
    }
}
.cart-preview.active{
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 360px;
    height: 388px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.action-block{
    background: $white;
    position: absolute;
    bottom:0;
    padding: 16px;
    width: 100%;
    button{
        background: $primary-orange;
        display: block;
        width: 100%;
    }
}
.cart-items{
    height: 320px;
    width: 360px;
}
.cart-item{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px;
    .product-image{
        width: 48px;
        height: 48px;
    }
    .product-info{
        margin-left: 16px;
        flex-grow: 1;
        .product-name{
            color: $gray-light;
            font-size: 14px;
        }
        .product-price{
            color: $gray-dark;
            font-weight: 700;
            &:before{
                content: "Rs. "
            }
        }
    }
    .stepper-input{
        margin-left: 16px;
        margin-right: 0;
        .quantity{
            margin-left: 8px;
            margin-right: 8px;
            width: 36px;
        }
    }
    .product-remove{
        margin-left: 24px;
        height: 24px;
        line-height: 24px;
        width: 24px;
        font-size: 22px;
        color: $gray-eighty;
        &:hover{
            color: $red;
        }
    }
    &:hover{
        background: $green-light-bg;
    }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both;
}